 ------
 Usage
 ------
 ------
 ------

~~ This Source Code Form is subject to the terms of the Mozilla Public
~~ License, v. 2.0. If a copy of the MPL was not distributed with this
~~ file, You can obtain one at http://mozilla.org/MPL/2.0/.

Usage

  The Jamon Maven Plugin is used to translate .jamon files into .java files.
  Generally, this plugin is used by adding the following to your pom file:

+-----
<project>
  [...]
  <build>
    <plugins>
      <plugin>
        <groupId>org.jamon</groupId>
        <artifactId>jamon-maven-plugin</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <id>jamon-generate-sources</id>
            <phase>generate-sources</phase>
            <goals>
              <goal>translate</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>
  [...]
</project>
+-----

Specifying alternate locations for templates or processed Java files

  Both the location of the Jamon template files and their destination
  can be configured.  For example, to look for templates along side
  Java files, and to put the processed Java files into
  <<<target/tsrc>>>, use the following in your pom,
  adjusting the contents of the <<<\<configuration\>>>> section as
  appropriate.

+-----
<project>
  [...]
  <build>
    <plugins>
      <plugin>
        <groupId>org.jamon</groupId>
        <artifactId>jamon-maven-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <templateSourceDir>src/main/java</templateSourceDir>
          <templateOutputDir>\${project.build.directory}/tsrc</templateOutputDir>
        </configuration>
        <executions>
          <execution>
            <id>jamon-generate-sources</id>
            <phase>generate-sources</phase>
            <goals>
              <goal>translate</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>
  [...]
</project>
+-----
