body
{
  font-family: Verdana, Arial, Georgia, Sans-serif;
}

#header
{
  width: 100%;
  border-top: solid;
  margin-bottom: -0.8em;
  clear: both;
}

#logo
{
  font-size: 2em;
  float: left;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#tagline
{
  font-size: 1em;
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 1em;
  text-transform: lowercase;
}

#nav ul
{
  list-style-type: none;
  margin: 1em 0em 1em 0em;
  border: 1px solid;
  padding: 0.25em 0em 0.25em 0em;
  font-size: 80%;
  background-color: #bbb;
}

#nav li
{
  display: inline;
//  padding-left: .0em;
}

#nav li a
{
  text-align: center;
  padding: 0.25em 1em 0.25em 1em;
  background-color: #ddd;
  border-left: 1px solid;
  border-right: 1px solid;
}

#current
{
  background-color: #ffff70 !important;
  font-weight: bold !important;
}

#main
{
  padding-left: 1em;
}

pre
{
  margin-left: 5em;
  margin-right: 5em;
  padding: 0.5em;
  border: solid;
  border-width: thin
}

.template, pre.jamon
{
  background-color: #efffdf
}

.java, .code
{
  background-color: #ffdfdf
}

.tty
{
  padding: 0 0.5em 0 0.5em;
  font-family: Monospace;
  background-color: #e0e0e0
}

pre.webxml
{
  background-color: #eef
}

pre.ant
{
  background-color: #fef
}

li
{
  padding-top: 0.5em
}

.concept
{
  font-weight: bold;
  display: block;
  padding-bottom: 0.5em
}

.file
{
  font-family: monospaced
}

.changed
{
  font-weight: bold
}

.deleted
{
  color: red;
  /*  text-decoration: line-through; */
  display: none;
  font-weight: lighter;
}

.system
{
  font-weight: bold;
  font-size: 0.8em;
}

.smell
{
  border: dashed;
  border-width: thin;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .2em;
}

dt
{
  font-weight: bold
}

.fixme
{
  background: red;
}
