<?xml version="1.0" encoding="ISO-8859-1"?>
<Server port="8886" shutdown="SHUTDOWN" debug="0">
  <Service name="Tomcat-Standalone">
    <Connector className="org.apache.catalina.connector.http.HttpConnector"
               port="8880" minProcessors="1" maxProcessors="10"
               enableLookups="true"
               acceptCount="10" debug="0" connectionTimeout="60000"/>
    <Engine name="Standalone" defaultHost="localhost" debug="0">
      <Logger className="org.apache.catalina.logger.SystemErrLogger"
              timestamp="true"/>
      <Host name="localhost" debug="0" appBase="." unpackWARs="false">
        <Context path="" docBase="." debug="0" override="true"
                 reloadable="false" />
      </Host>
    </Engine>
  </Service>
</Server>
