# where to find JUnit
java.lib.junit=/usr/local/share/java/junit.jar

# use this to run integration tests against built classes instead of jar
java.lib.jamon=../core/build/classes:../anttask/build/classes:../stdlib/build/classes
